.Tabs {
 width: 80%;
 height: auto;
 min-height: 400px;
 background: #053742;
 margin: 3.5rem auto 1.5rem;
 padding: 2rem 1rem;
 color: #E8F0F2;
 border-radius: 2rem;
 @media (max-width: 769px) {
  padding: 2rem 0;
 }
}ul.nav {
    width: 90%;
    margin: 0 auto 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #39A2DB;
    border-radius: 2rem;
    padding-left: 0px;
    @media (max-width: 768px) {
      width: 90%;
    }
  }
  ul.nav li {
    width: 50%;
    padding: .7rem;
    list-style: none;
    text-align: center;
    cursor: pointer;
    transition: all 0.7s;
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
  }
  ul.nav li:nth-child(2) {
    border-radius: 0;
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
  }
  ul.nav li:hover {
    background: rgba(50, 224, 196, 0.15);
  }
  ul.nav li.active {
    background: #39A2DB;
  }
  .key-type{
  font-size: 1.5rem;
  text-align: center;
}

.key-info{
  font-size: 16px;
}
.submit-key{
  cursor: pointer;
  width: 70%;
  color: #ffffff;
  border-radius: 15px;
  background-color:  #39A2DB;
  padding: 7px 10px;
};

.modal-qr{
width: 85%;

}
.qr-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.qr-container > img{
 width: 100%;
}
.qrcode-info{
  text-align: center;
  background-color: #04333d;
  padding-bottom: 5px;
}
.qrcode-info> h4{
  font-size: 18px;
  color:  #39A2DB;
}
.qrcode-info> p{
  font-size: 15px;
  color:  #39A2DB;

}
